<section class="main-content">
    <ul class="breadcrumb breadcrumb-style ">
      <li class="breadcrumb-item">
        <h5 class="page-title m-b-0">schedules</h5>
      </li>
      <li class="breadcrumb-item bcrumb-1">
        <a roSuterLink="/dashboard/main">
          <i class="fas fa-home font-17"></i></a>
      </li>   
      <li class="breadcrumb-item">Schedules</li>
    </ul>
    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="card-body">
              
              <form > <!--[formGroup]="subjectFilterForm"-->
                <div class="col-12 p-0">
                  <div class="ngxTableHeader">
                    <div class="table-title">
                      <h1><strong>Schedules</strong></h1>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 p-0">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group position-relative">
                        <label>Search</label>
                        <i class="fas fa-search input-icons"></i>
                        <input
                          type="text"
                          class="form-control psl-5"
                          placeholder="Search by name"
                          name="searchText"
                          required=""
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <label for="date"></label>
  
                          <button
                            class="btn btn-primary"
                            style="margin-top: 30px"
                            type="button" >
                            Generate Report
                          </button>
                          <br>
                          <div class="icon-button-demo buttons" style="padding-top: 10%;">
                            <button 
                              class="btn btn-icon icon-left btn-primary rounded-button"
                              (click)='newWeightScheduleForm(addEditRecord)'>
                              <i class="material-icons">add</i>
                            </button>
                          </div>
  
                        </div>
                      </div>
                    </div>
                      
                  </div>
                </div>
              </form>
  
  
              <div class="section-body">
                <div class="row">
          
                  <div class="col-12 col-md-6 col-lg-6" *ngFor="let item of weightSchedule" >
                    
                    <div class="card">
                        <div>
                      <div class="card-header" style="background-color: rgb(209, 94, 0);">
                        <h2 style="color: rgb(255, 255, 255);" ><u>{{item.title}}</u></h2>
                      </div>
                      <div class="card-body" style="background-color: rgb(218, 238, 238);">     
                        <h5 style="color: black;">{{item.gymName}}</h5><br>
                        <h5 style="color: black;">{{item.description}}</h5><br>
                        <h3 style="font-weight: bold; color: black;">Location {{item.location}}</h3> 
                        <h3 style="font-weight: bold; color: black;">Rs. {{item.serviceCharge}}</h3> 
                      </div>
                      <div class="card-footer text-end" style="background-color: rgb(218, 238, 238);">
                        <div class="buttons">
                          <span>
                             <!--Plan Edit Button -->
                            <button 
                              class="btn btn-icon btn-sm btn-primary" 
                              (click)='updateWeightSchedule(item, rowIndex, addEditRecord)'>
                              <i class="far fa-edit"></i>
                            </button>
                             <!--Plan Delete Button -->
                            <button 
                              class="btn btn-icon btn-sm btn-danger" 
                              (click)='deleteWeightSchedule(item)'>
                              <i class="far fa-trash-alt"></i>
                            </button>
                          </span>
                        </div>  
                      </div>
                    </div>
                    </div>
                  </div>
          
                   
                </div>
                
            </div>
  
                <!-- Add new excercise plan Modal Window -->
                <ng-template #addEditRecord let-modal>
                  <div class="modal-header editRowModal">
                    <h4 class="modal-title" id="modal-basic-title">
                      <div class="table-modal-header">
                        <div class="modal-about">
                             <div class="fw-bold p-t-10 font-17" *ngIf="id==0">
                              Add New Schedule
                             </div>
                             <div class="fw-bold p-t-10 font-17" *ngIf="id!=0">
                               Update Schedule
                             </div>
                        </div>
                      </div>
                    </h4>
                    <!-- Modal Close Button -->
                    <button 
                      type="button" 
                      class="close" 
                      aria-label="Close" 
                      (click)="modal.dismiss()">
                      <span aria-hidden="true">
                        <i class="material-icons">close</i>
                      </span>
                    </button>
                  </div>
    
                  <div class="modal-body">
                    <form 
                      class="register-form" 
                      [formGroup]="weightScheduleForm">
                      
                      <!-- First Row -->
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Title<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" formControlName="title" placeholder="Title"
                          required>
                          <small class="form-text text-danger" *ngIf="!weightScheduleForm.get('title').valid && weightScheduleForm.get('title').touched "> 
                            Title is required
                          </small>
                        </div>
                      </div>
    
                      <!--Second row-->
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Gym name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" formControlName="gymName" placeholder="gym name"
                          required>
                           <small class="form-text text-danger" *ngIf="!weightScheduleForm.get('gymName').valid && weightScheduleForm.get('gymName').touched "> 
                            Gym name is required
                        </small>
                        </div>
                      </div>

                      <!--third row-->
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Location <span class="text-danger">*</span></label>
                          <input type="text" class="form-control " formControlName="location" placeholder="location"
                          required>
                           <small class="form-text text-danger" *ngIf="!weightScheduleForm.get('location').valid && weightScheduleForm.get('location').touched "> 
                            Gym location is required
                        </small>
                        </div>
                      </div>

                      <!--Forth row-->
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Description <span class="text-danger">*</span></label>
                          <input type="text" class="form-control " formControlName="description" placeholder="Description"
                          required>
                           <small class="form-text text-danger" *ngIf="!weightScheduleForm.get('description').valid && weightScheduleForm.get('description').touched "> 
                            Description is required
                        </small>
                        </div>
                      </div>
                      
                      <!--Fifth row-->
                      <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                          <label>Service charge <span class="text-danger">*</span></label>
                          <input type="text" class="form-control " formControlName="serviceCharge" placeholder="service charge"
                          required>
                           <small class="form-text text-danger" *ngIf="!weightScheduleForm.get('serviceCharge').valid && weightScheduleForm.get('serviceCharge').touched "> 
                            Service charge is required
                        </small>
                        </div>
                      </div>

                        <!-- Modal Footer -->
                      <div class="modal-footer">
                        <!-- Save Plan Button -->
                        <button 
                          type="button" 
                          class="btn btn-primary" 
                          (click)="saveWeightSchedule()" 
                          [disabled]="!weightScheduleForm.valid">
                          Save
                        </button>
                        <!-- Modal Close Button -->
                        <button 
                          type="button" 
                          class="btn btn-light" 
                          (click)="modal.close('Close click')">
                          Close
                        </button>
                      </div>
                    </form>
                  </div>
                </ng-template>
  
  
             
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </section>